<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>redman</string>
		<string>是啊，自己终身大事也解决了</string>
	</array>
	<array>
		<string>新籁科技</string>
		<string>当红爹了啊
喻佳佳  19:30:30
包吃住吧
喻佳佳  19:30:35
超过3K了
菜鸟  19:30:42
我们公司的工程师也要  当红爹了啊</string>
	</array>
	<array>
		<string>new_life</string>
		<string>额，好啦，我也得恰饭去。你工作的内容大概是说明啊？</string>
	</array>
	<array>
		<string>遥远的.....</string>
		<string>算了，还是不说了。不知道算不算便宜我了，O(∩_∩)O~</string>
	</array>
	<array>
		<string>超越---大神</string>
		<string>先不说咯 不然别人待会得扣我工资le</string>
	</array>
	<array>
		<string>狐🐰</string>
		<string>你在学程序设计么？O(∩_∩)O哈！</string>
	</array>
	<array>
		<string>你好 oK</string>
		<string>夏亦中回忆，隆回金银花市场的低迷始自2011年，当时一篇名为《南寒北热：金银花行情陡变》的报道在网站上传播，中国医学科学院药用植物研究所副研究员徐常青亦发表文章《正品金银花与同属几个近缘种忍冬微量元素分析与药性初探》，两篇文章都提出，金银花性凉，降火；山银花性热，上火。</string>
	</array>
	<array>
		<string>一个人的寂寞</string>
		<string>“隆回金银花卖了几十年，一直都是当降火的药材卖的，现在说山银花上火，我们还怎么做生意呢？”夏亦中说。“上火”的说法从根本上颠覆了其市场价值，隆回金银花开始遭遇市场冷落。</string>
	</array>
	<array>
		<string>回车是爱</string>
		<string> “知识产权法律制度的发展、完善，需要世界各国共同努力、协调。长期以来，中国与世界知识产权组织建立、保持了非常良好的合作关系，今后将会一如既往保持和发展这种合作。总理的讲话再次清楚地表明了这一立场。”日前，中国科学院大学法律与知识产权系主任李顺德在接受中国知识产权报记者采访时说。</string>
	</array>
	<array>
		<string>你妹的，你大爷的</string>
		<string>对于未来国际知识产权制度的发展方向，李顺德认为，知识产权制度已经成为国际贸易中重要的游戏规则，成为各国尤其是发展中国家促进科学技术、文化艺术和生产力发展的重要工具。在联合国的193个成员国当中，已经有187个成员国加入世界知识产权组织，这一现实充分证明知识产权制度已经是一个全球性的法律制度。“在全球社会视野中，发达国家相对于发展中国家、最不发达国家而言，终究是少数，这也是现实。知识产权制度的发展、完善，应正视上述现实，不能仅仅固守在维护技术创新者、技术领先者利益的基本准则之上，更应重视发展中国家和最不发达国家的基本利益，只有如此，国际知识产权制度才是有希望、有出路的，才能获得更大的发展空间。”李顺德指出。</string>
	</array>
	<array>
		<string>山羽纯</string>
		<string>李顺德认为，国际知识产权制度发展的正确方向，只能是“普惠、包容”。这里所讲的“普惠、包容”，就是要兼顾各类不同发展水平、不同基本社会制度国家和地区的实际状况和切身利益，容忍各国之间在知识产权制度方面存在一定的差异，避免将自己的意愿强加于人</string>
	</array>
	<array>
		<string>真心------💗</string>
		<string></string>
	</array>
	<array>
		<string>天涯何处无芳草</string>
		<string></string>
	</array>
	<array>
		<string>傻逼，你最大</string>
		<string></string>
	</array>
	<array>
		<string>小爷是你大爷</string>
		<string></string>
	</array>
	<array>
		<string>跪舔中国人</string>
		<string></string>
	</array>
	<array>
		<string>哦哦哦哦哦哦哦</string>
		<string></string>
	</array>
	<array>
		<string>没心没肺</string>
		<string></string>
	</array>
	<array>
		<string>么么哒</string>
		<string>嘿嘿吼吼</string>
	</array>
	<array>
		<string>Y(^o^)Y</string>
		<string></string>
	</array>
</array>
</plist>
